@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  scroll-behavior: smooth;
}


@media (max-width: 767px) {
  html {
    scroll-behavior: smooth;
  }
}

/*/ Main body page color /*/

body {
    background-color: #ffffff;
    padding-top: 100px;
}

@media (max-width: 767px) {
    body {
      background-color: #ffffff;
    }
  } 

/*/ Header Section /*/

#header {
    background-color: #ffffff;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #header {
      background-color: #ffffff;
      padding: 40px 0;
    }
  }


/*/ Dark bg Section /*/

#dark-bg {
    background-color: #1fbb99;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #dark-bg {
      background-color: #1fbb99;
      padding: 40px 0;
    }
  }  

/*/ About Section /*/

#about {
    background-color: #ffffff;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #about {
      background-color: #ffffff;
      padding: 40px 0;
    }
  }

/*/ Footer Section /*/

#footer {
    background-color: #041f1d;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #footer {
      background-color: #041f1d;
      padding: 40px 0;
    }
  }



/*/ image section /*/

.image-size {
    width: 100%;
}

@media (max-width: 767px) {
    .image-size {
        padding-top: 40px;
    }
  }


/*/ image icon section /*/

.image-icon {
    width: 10%;
}

@media (max-width: 767px) {
    .image-icon {
        padding-top: 40px;
    }
  }  



/*/ fonts section /*/


/*/ HEADER TEXT /*/
h1 {
    font-family: 'Roboto', sans-serif;
}

/*/ HEADER TEXT NORMAL /*/
.h1-normal {
    font-weight: 700;
    font-size: 90px;
    color: #1fbb99;
}

@media (max-width: 767px) {
    .h1-normal {
        font-weight: 700;
        font-size: 40px;
        color: #1fbb99;
    }
  }

/*/ HEADER TEXT FOR DARK BACKGROUND /*/
.h1-dark {
    font-weight: 700;
    font-size: 85px;
    color: #ffffff;
}

@media (max-width: 767px) {
    .h1-dark {
        font-weight: 700;
        font-size: 40px;
        color: #ffffff;
    }
  }


/*/ HEADER TEXT BOLD /*/
.h1-bold {
    font-weight: 700;
    font-size: 90px;
    color: #0A3937;
}

@media (max-width: 767px) {
    .h1-bold {
        font-weight: 700;
        font-size: 40px;
        color: #0A3937;
    }
  }  


/*/ PARAGRAPH TEXT NORMAL /*/  
p {
    font-family: 'Roboto', sans-serif;
}

.p-normal {
    font-weight: 400;
    font-size: 30px;
    color: #0A3937;
}
@media (max-width: 767px) {
    .p-normal {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
        color: #0A3937;
    }
  }

  .p-black {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
@media (max-width: 767px) {
    .p-black {
        font-weight: 400;
        font-size: 20px;
        color: #000000;
    }
  }

/*/ PARAGRAPH TEXT FOR DARK BACKGROUND /*/ 

.p-dark {
    font-weight: 500;
    font-size: 40px;
    color: #0A3937;
    letter-spacing: 5px;
}
@media (max-width: 767px) {
    .p-dark {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 2px;
        color: #0A3937;
    }
  }

/*/ PARAGRAPH TEXT FOR CAPITALISED SECTION HEADING /*/ 

.p-topic {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    color: #0A3937;
}
@media (max-width: 767px) {
    .p-topic {
        padding-top: 40px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 2px;
        color: #0A3937;
    }
  }  


/*/ PARAGRAPH TEXT FOR FOOTER SECTION /*/ 

.p-white {
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}
@media (max-width: 767px) {
    .p-white {
        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
    }
  }  



/*/ PARAGRAPH TEXT FOR CONTACT FOOTER SECTION /*/ 

.p-contact {
    padding-top: 20px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
}
@media (max-width: 767px) {
    .p-contact {
        padding-top: 20px;
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1px;
        color: #ffffff;
    }
  }   


/*/ BUTTON NORMAL for white background /*/

.button-normal {
    padding-top: 60px;
  }
  
  .button {
    width: 300px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1fbb99;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(31, 187, 153, 40%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #000000;
    transform: translateY(-7px);
  }


/*/ BUTTON NORMAL ends here /*/


/*/ BUTTON DARK for dark background /*/

.button-dark {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-dark-bg {
    width: 300px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #0A3937;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(31, 187, 153, 60%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button-dark-bg:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #000000;
    transform: translateY(-7px);
  }


/*/ BUTTON DARK ends here /*/


/*/ COLUMN ALIGNMENT /*/


/*/ Features Section /*/

#features-left {
    background-color: #ffffff;
    padding: 100px 0;
  }
  
  @media (max-width: 767px) {
    #features-left {
      background-color: #ffffff;
      padding: 40px 0;
      text-align: center;
    }
  }

  #features-right {
    background-color: #ffffff;
    padding: 100px 0;
    text-align: right;
  }
  
  @media (max-width: 767px) {
    #features-right {
      background-color: #ffffff;
      padding: 40px 0;
      text-align: center;
    }
  }

  #privacy {
    background-color: #ffffff;
    padding: 100px 0;
    text-align: left;
  }
  
  @media (max-width: 767px) {
    #privacy {
      background-color: #ffffff;
      padding: 40px 0;
      text-align: left;
    }
  }



/*/ FOOTER COLUMN /*/

@media (max-width: 767px) {
    .footer-contact {
        text-align: center;
    }
  }


/*/ SOCIAL MEDIA ICONS SECTIONS START /*/

.social {
    display: inline-block;
    position:absolute;
    top:80%;
    right:-35%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }

  @media (max-width: 767px) {
    .social {
        display: inline-block;
        position: relative;;
        margin-top: 10%;
    }
  }

  
  /* Social Media Icons */
  
  .social a {
    color:#fff;
    background: #1fbb99;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:50px;
    height:50px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  .social a:hover {
    background: #0A3937;
  }
  
  /* pop-up text */
  
  .social a span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  /* pop-up text arrow */
  
  .social a span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }
  
  /* text pops up when icon is in hover state */
  
  .social a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }
  
  /* font awesome icons */
  
  /* Facebook */
  .social a:nth-of-type(1):before {
  content:'\f09a'; 
  }
  /* Twitter */
  .social a:nth-of-type(2):before {
  content:'\f099';
  }
  /* Instagram */
  .social a:nth-of-type(3):before {
  content:'\f16d';
  }
  /* Google Play */
  .social a:nth-of-type(4):before {
  content:'\f17b ';
  }
  /* Dribbble */
  .social a:nth-of-type(5):before {
  content:'\f179';
  }

  /*/ SOCIAL MEDIA ICONS SECTIONS END /*/

/*/ TEXT RETYPE /*/
  #retype{
    color: #0A3937;
    border-right: solid 0.1em #1fbb99;
  }

  /*/ TEXT RETYPE /*/


/*/ NAVIGATION BAR /*/
#mainNav {
  border-bottom: 1px solid #0A3937;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-eth {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #525252;
}

#mainNav .navbar-eth:focus,
#mainNav .navbar-eth:hover {
  color: #fff;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #1fbb99;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
  color: #fff;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: #1fbb99 !important;
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}


#mainNav .navbar-toggler {
  background-color: #0A3937;
  border-color: #1fbb99;
}

@media (max-width: 991px) {
  #mainNav .navbar-nav {
    margin-top: 16px;
  }
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-eth {
    color: #1fbb99;
  }

  #mainNav .navbar-eth:focus,
  #mainNav .navbar-eth:hover {
    color: #0A3937;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #000000;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #0A3937;
  }

  #mainNav.navbar-shrink {
    background: #0A3937;
    opacity: 0.8;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    margin: 0;
  }

  #mainNav.navbar-shrink .navbar-eth {
    color: #0A3937;
  }

  #mainNav.navbar-shrink .navbar-eth:focus,
  #mainNav.navbar-shrink .navbar-eth:hover {
    color: #ffffff;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #1fbb99;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
    color: #ffffff;
  }
}

@media (max-width: 992px) {
  #mainNav {
    padding: 32px 8px 8px 8px;
    margin-top: 0;
  }
}

.logo-dark .navbar-shrink {
  display: block;
}

.logo-dark {
  display: none;
}

@media (max-width: 500px) {
  .logo-normal{
    display: none;
  }
  .logo-dark {
    display: block;
  }
  #mainNav {
    background-color: #0A3937;
    opacity: 0.95;
    margin-top: -20px;
  }
}

/*/ NAVIGATION BAR /*/


